body{
    background-color: #051630;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    width: 100%;
    text-align: center;
    transition: 10s;
}

header ul{
    list-style-type: none;
    text-decoration: nones;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

header ul li{
    display: inline;
    margin: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.3s;
}

header ul li:hover{
    color: #a1aec2;
}

.container{
    margin: 80px;
}